@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  font-size: 80px;
  line-height: 95px;
  padding: 40px 0 22px 0;
  border-bottom: 2px solid #000000;
}
header img {
  padding: 48px 0;
}

section h2 {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 7px;
  border-bottom: 1px solid #000000;
}
section h2 span {
  font-size: 24px;
  font-weight: 600;
  padding-left: 16px;
  color: #a00404;
}
section p {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 300;
}

.skillContainer {
  width: 996px;
  margin: 0 auto;
}

.skill {
  background-color: #415165;
  text-align: center;
  padding: 24px 0 40px 0;
}
.skill h2 {
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 7px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ffffff;
}
.skill h2 span {
  font-size: 24px;
  font-weight: 600;
  padding-left: 16px;
  color: #ffffff;
}
.skill .skill-detail ul {
  display: inline-block;
  text-align: left;
  padding-left: 24px;
  border-left: 1px solid #96a9c4;
}
.skill .skill-detail ul li {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.work-experience-detail {
  border-left: 1px solid #96a9c4;
  margin-left: 1.5rem;
  margin-top: 16px;
  margin-bottom: 80px;
}
.work-experience-detail li {
  padding-left: 24px;
  font-size: 24px;
  font-weight: 500;
}
.work-experience-detail li img {
  display: block;
}
.work-experience-detail li p {
  width: 642px;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

footer {
  background-color: #415165;
  text-align: center;
  color: #ffffff;
}
footer h2 {
  font-size: 32px;
  font-weight: 500;
  padding: 24px 0 7px 0;
  border-bottom: 1px solid #ffffff;
}
footer h2 span {
  font-size: 24px;
  font-weight: 500;
  padding-left: 16px;
}
footer .method {
  font-size: 24px;
  font-weight: 300;
}
footer .method a {
  text-decoration: none;
  color: #ffffff;
}
footer .method a:hover {
  color: #a00404;
}

/* 微調設定 */
.title-en-top {
  vertical-align: 5px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.pb-40 {
  padding-bottom: 40px;
}

.d-inline-block {
  display: inline-block;
  vertical-align: top;
}