$primary-color: #415165;
$second-color: #a00404;

$font-base: 20px;
$font-m: 24px;
$font-l: 32px;

$line-height-base: 30px;
$line-height-m: 36px;
$line-height-l: 48px;

$font-weight-Light: 300;
$font-weight-Medium: 500;
$font-weight-Demi-bold: 600;
